<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TinyApp-Index</title>
</head>
<body>
<header>
  <% include partials/_header %>
</header>
  <ul>
  <% for (shortUrl in urls) { %>
    <li>
      <a href="/u/<%= shortUrl %>"><%= urls[shortUrl] %></a> ---
      <%= shortUrl %>
      <form method="GET" action='urls/<%= shortUrl %>'>
        <input type="submit" value="Edit">
      </form>
      <form method="POST" action='urls/<%= shortUrl %>/delete'>
        <input type="submit" value="Delete">
      </form>
      <h4>-------------------------------------------------------</h4>
    </li>
  <% } %>
  </ul>
  <a href="">URL Shortener</a>
</body>
</html>
