<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TinyApp-Index</title>
</head>
<body>
<header>
  <% include partials/_header %>
</header>
  <ul>
  <% for (key in urls) { %>
    <li>
      <a href="/u/<%= urls[key].url %>"><%= urls[key].url %></a> ---
      <%= key %>
      <% if (urls[key].userID === userData.id) { %>
      <form method="GET" action='urls/<%= key %>'>
        <input type="submit" value="Edit">
      </form>
      <form method="POST" action='urls/<%= key %>/delete'>
        <input type="submit" value="Delete">
      </form>
    </li>
    <% } %>
    <h4>-------------------------------------------------------</h4>
  <% } %>
  </ul>
  <% if (userData) { %>
    <form method="GET" action="urls/new">
    <input type="submit" value="New URL">
  </form>
  <% } else { %>
    <form method="GET" action="/login">
    <input type="submit" value="New URL">
    </form>
  <% } %>
  <%= userData.toString() %>
</body>
</html>
